body
  background: #E9F1F7
  font-family: Roboto

.container
  width: 1520px
  margin: 0 auto

.region-filter
  display: flex
  justify-content: space-between

.button-link
  display: flex
  align-items: center
  justify-content: center
  height: 55px
  width: 195px
  margin: 0 auto
  background: rgba(223, 233, 239, 0.88)
  box-shadow: inset 2px 4px 20px #BFCED8
  border-radius: 10px
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 34px
  color: #373F46
  opacity: 0.6
  text-decoration: none
  &:hover
    text-decoration: none
    color: #373F46

.header
  padding-top: 32px
  display: grid
  grid-template-columns: 200px 900px 250px
  justify-content: space-between
  align-items: center
  margin-bottom: 250px
  .navigation
    width: 750px
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    list-style-type: none
    li
      margin: 0
      a
        color: #373F46
        opacity: 0.5
        font-weight: normal
        &:hover
          color: #373F46
          text-decoration: none
  &__contacts
    a
      display: block
      width: 100%
      color: #373F46
      text-align: right
.logo
  width: 200px
  a
    color: #E85215

    &:hover
      text-decoration: none
    img
      height: 43px
    span
      font-size: 22.8484px
      line-height: 26px
      font-weight: 600
      font-family: Franklin Gothic Demi

